@model PelicanManagementUi.ViewModels.Role.RoleMenuViewModel


<style>
    .checkbox-success .form-check-input:checked {
        background-color: #2258bf;
        border-color: #2258bf;
    }
    .checkbox-success .form-check-input:focus {
        border-color: #2258bf;
        box-shadow: none !important;
    }

</style>

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">خانه</a></li> &nbsp;
                \
                <li class="breadcrumb-item"><a asp-action="List" asp-controller="User">لیست نقش ها</a></li> &nbsp;
                \

                <li class="breadcrumb-item active"><a asp-action="Detail" asp-controller="User">جزئیات نقش</a></li>
            </ol>
        </div>
        <div class="row">
            <div class="col-xl-12 col-xxl-12">
                <div class="card">
                    <div class="card-header"><h4 class="card-title">ویرایش نقش</h4></div>
                    <div class="card-body">
                        <form asp-action="Update" asp-controller="Role" enctype="multipart/form-data" method="post">
                            <input value="@Model.Id" type="text" name="RoleId" class="d-none">

                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-lg-6 mb-2">
                                        <div class="mb-3">
                                            <label style="font-size: medium;font-weight: bold;" class="text-label form-label">نام نقش</label><input value="@Model.RoleName_Farsi" type="text" name="RoleName_Farsi" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mb-2">
                                        <div class="mb-3">
                                            <label style="font-size: medium;font-weight: bold;" class="text-label form-label"></label>شناسه نقش<input value="@Model.RoleName" type="text" name="RoleName" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 mb-2">
                                        <div class="mb-3">
                                            <label style="font-size: medium;font-weight: bold;" class="text-label form-label"></label>توضحیات<input value="@Model.Description" type="text" name="Description" class="form-control" required>
                                        </div>
                                    </div>
                                  <div class="col-lg-12 mb-3 mt-5">
                                        <div class="mb-3">
                                           <label style="font-size: medium;font-weight: bold;" class="text-label bold form-label">منو ها :</label>
                                            <div class="mb-3"></div>
                                            <div class="row" id="menusList">
                                                @foreach (var item in Model.Menus)
                                                {
                                                    <div class="col-lg-2 mb-3">
                                                        <div class="form-check custom-checkbox mb-3 checkbox-success">
                                                            <input value="@item.Id" name="MenuIds" type="checkbox" class="form-check-input" id="menu_@item.Id" @(item.HasMenu ? "checked" : "")>
                                                            <label class="form-check-label" for="menu_@item.Id">@item.Name_Farsi</label>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 mb-3 mt-5">
                                        <div class="mb-3">
                                           <label style="font-size: medium;font-weight: bold;" class="text-label bold form-label">دسترسی ها :</label>
                                            <div class="mb-3"></div>
                                            <div class="row" id="permissionList">
                                                @foreach (var item in Model.Permission)
                                                {
                                                    <div class="col-lg-2 mb-3">
                                                        <div class="form-check custom-checkbox mb-3 checkbox-success">
                                                            <input value="@item.Id" name="PermissionIds" type="checkbox" class="form-check-input" id="permission_@item.Id" @(item.HasPermission ? "checked" : "")>
                                                            <label class="form-check-label" for="permission_@item.Id">@item.PermissionName_Farsi</label>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
@* 
                                    <div class="col-lg-12 mb-3">
                                        <div class="mb-3">
                                            <label style="font-size: medium;font-weight: bold;" class="text-label bold form-label">دسترسی ها :</label>
                                            <a asp-action="GetRole" asp-controller="User" asp-route-RoleId="@Model.RoleId" style="color:blue">(ویرایش دسترسی ها)</a>
                                            <div class="mb-3">
                                            </div>
                                            <div class="row" id="permissionList">
                                                @{
                                                    foreach (var item in Model.Permissions)
                                                    {
                                                        <div class="col-lg-2 mb-3">
                                                            <div class="form-check custom-checkbox mb-3 checkbox-success">
                                                                @if (@item.HasPermission)
                                                                {
                                                                    <input disabled type="checkbox" class="form-check-input" checked="" id="customCheckBox3" required="">
                                                                }
                                                                else
                                                                {
                                                                    <input disabled type="checkbox" class="form-check-input" id="customCheckBox3" required="">

                                                                }
                                                                <label class="form-check-label" for="customCheckBox3">@item.PermissionName_Farsi</label>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>

                                        </div>
                                    </div> *@


                                    <div class="col-lg-10 mb-3">
                                        <div class="mb-3">
                                        </div>
                                    </div>
                                    <div class="col-lg-1 mb-3 w-auto pl-0">
                                        <div class="mb-3">
                                            <div class="text-center"><button type="reset" class="btn btn-dark btn-block">انصراف</button></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 mb-3 w-auto">
                                        <div class="mb-3">
                                            <div class="text-center"><button type="submit" class="btn btn-primary btn-block">ثبت</button></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function getRolePermissions(role) {
        var divPermission = document.getElementById('permissionList');
        fetch(`/User/GetRolePermissions?roleId=${role.value}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => response.text())
            .then(result => {
                let res = JSON.parse(result);
                console.log(res);
                var str = '';
                for (var i = 0; i < res.length; i++) {
                    str += '<div class="col-lg-2 mb-3"><div class="form-check custom-checkbox mb-3 checkbox-success">';
                    if (res[i].hasPermission) {
                        str += '<input disabled type="checkbox" class="form-check-input" checked id="customCheckBox' + i + '" required>';
                    } else {
                        str += '<input disabled type="checkbox" class="form-check-input" id="customCheckBox' + i + '" required>';
                    }
                    str += '<label class="form-check-label" for="customCheckBox' + i + '">';
                    str += res[i].permissionName_Farsi;
                    str += '</label></div ></div>';
                }
                divPermission.innerHTML = '';
                divPermission.innerHTML = str;
            })
            .catch(error => {
                console.log('error', error);
            });
    }
</script>

